In [ ]:
"""                             [16 FEB ASSIGNMENT]
1] What is a data base? Differentiate between sql and Nosql  databases.

answer] Structured and optimized collection of data where data can be organized in form of rows , columns and index
 to retrive the relevant information.POpular data bases are mysql,oracle,database,mongodb.  
            sql - It manages structured data
                  It handles data in less volume
                  It gives only read scalability
                  It support complex transactions
                  Data arrives from one or few locations
                  
                  
            Nosql - It manages all type of data(structured amd unstructured) 
                    It handle data in high volume
                    It give both read and write scalibility
                    It support simple transaction
                    Data arrives from many locations

In [ ]:
"""
2] What is DDL? Explain why CREATE,DROP , ALTER , AND TRUNCATE are used with an example.

answer]DDL stands for data definition language . It is used to create and modify the structure of a data base and 
        data base objects.
        CREATE - command is used to creat table or database. The syntax for create command is :
                  CREATE DATABASE database_name;
                  CREATE TABLE table_name(
                          column1 datatype,
                          column2 datatype,
                          .....
                          .....
                          );
         DROP - command used to drope a table. syntax is 
                DROP TABLE table_name;
         ALTER -  To change the properties of a column such as its type , type capacity , add constraints etc. Syntex is
                   ALTER TABLE table_name
         TRUNCATE - This command is similar to the drop table commands. The only difference is that while the 
                   drop commands remove the table as well as its contents, the truncate command only erases the 
                   contents of the table's contents are not the table itself.
                   syntex; TRUNCATE TABLE CUSTOMERS;

In [ ]:
"""
3] What is DML? Explain INSERT , UPDATE , AND DELETE with an example.

answer] DML is an abbreviation for DATA MANIPULATION LANGUAGE. Represent a collection of programming languages 
        explicitly used to make changes to the database
        INSERT - command to add new values to the database 
        UPDATE - command to change or update current data to a more recent value within the database
        DELETE - commands to delete or delete values or data information of the current table in the database

In [ ]:
"""
4] What is DQL? Explain SELECT with an example.

answer] DQL is used to retrive data.It consists of commands that do so.
          SELECT command use to select data from data base 
          syntex : SELECT customerName , City FROM Customer;
          SELECT * FROM table_name;

In [ ]:
"""
5] Explain primary key and foreign key.

answer] Primary key is used to ensure that data in the specific column is unique.A column can not have NULL values.
        It is either an existing table column or a column that is specifically generated by the database according to
        a defined sequence.
        FOREIGN KEY : is a column or group of columns in a relational database table that provides a link between 
        data in two tables . It is a columns that references a column of another table

In [ ]:
"""
6] Write a python code to connect mysql to python . Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "local host",
    user = "abc" ,
    password = "password")
mycursor = mydb.cursor()

In [ ]:
"""Cursor is a temporary memory or temporary work station. It is allocated by database server at the time of
   performing DML 
   The EXEC command is used to execute a stored procedure. Execute method execute a specified query.

In [ ]:
"""
7] Give the order of execution of sql clauses in an sql query.
answer] The order of execution of sql clauses in an sql query is
         1] FROM
         2] WHERE
         3] GROUP BY
         4] HAVING
         5] SELECT
         6] ORDERED BY
         7] LIMIT