                                ASSIGNMENT 2 FEB

In [ ]:
""" 1] Explain with an example each when to use a for loop and a while loop?
                [ FOR LOOP]
answer] A for loop is a control flow statement that executes code for a predefined number of iterations.
The key word used in this control flow statements is for.  When the number of iteration is already known,for loop is used.
                  [ WHILE LOOP]
 A loop that runs a single statement or a set of statement for a given true condition. this loop is represented by a
 keyword "while" . when the number of iterations is unknown , a while loop is used . The statement is repeated untill the
 boolean value is false. Because the condition is teasted at the begining of a while loop, it is also known as pre test loop.        """

In [38]:
num = int(input("enter the number of rows"))
for i in range(1,num+1):                              # EXAMPLE OF FOR LOOP
    for j in range(1,i+1):
        print("$",end="")
    print()

enter the number of rows 5

$
$$
$$$
$$$$
$$$$$

In [40]:
n = int(input("enter the number of rows"))
i =1
while i<=n:
    j=1                          # EXAMPLE FOR WHILE LOOP
    while j<=i:
        print("@" , end="")
        j+=1
    print()
    i+=1

enter the number of rows 5

@
@@
@@@
@@@@
@@@@@

"""2] Writa a python program to print the sum and product of first 10 natural numbers using for and while loop?

In [41]:
i = 10
sum = 0
product = 1                              # using while loop
while(i<=10 and i>= 1):
    sum = sum +i
    product = product * i
    i = i-1
print(" sum of first 10 natural number is",sum)
print(" product of first 10 natural number is",product)

 sum of first 10 natural number is 55
 product of first 10 natural number is 3628800

In [42]:
l = 1,2,3,4,5,6,7,8,9,10
sum = 0
product = 1                              # using for loop
for i in l:
    sum = sum +i
    product = product * i
    i = i+1
print(" sum of first 10 natural number is",sum)
print(" product of first 10 natural number is",product)

 sum of first 10 natural number is 55
 product of first 10 natural number is 3628800

"""3] creat a python program to comput the electricity bill for a house hold. the per unit charges in rupees are as follows; for the first 100 units , the user will be charged rs 4.5 per units, for next 100 units , the user will be charged rs 6 per unit and for next 100 units the user will be charged rs 10per unit ,after 300 units and above the user be charged rs 20 per unit?

In [2]:
units = int(input("enter the number of units consumed"))
if units>= 1 and units <= 100:
    bill = 4.5 * units
    print(bill , "is electricity bill of this month")
elif units >100 and units<=200:
    bill = 4.5*100 + 6 * (units - 100)
    print(bill , " is electricity bill of this month")
elif units >200 and units <= 300:
    bill = 4.5*100 + 6*100 + (units-200)*10
    print(bill , "is electricity bill of this month")
else:
    bill = 4.5*100 + 6*100 + 10*100 +( units-300)*20
    print(bill , "is electricity bill of this month")

enter the number of units consumed 310

2250.0 is electricity bill of this month

"""4]create a list of number from 1 to 100 . use for loop and while loop to calculate the cube of each number and if the cube of that number is divided by 4 or 5 then append that number in a list and print that  list?

In [1]:
l1 = []
cube = 0
l = list(range(1,101))
for i in l:                                               #print statement out side the loop
    cube = pow(i,3)
    print(" cube of numbers is ", cube)
    if(cube % 4==0 or cube % 5 ==0):
        l1.append(i)
         
print("new list is ", l1)

 cube of numbers is  1
 cube of numbers is  8
 cube of numbers is  27
 cube of numbers is  64
 cube of numbers is  125
 cube of numbers is  216
 cube of numbers is  343
 cube of numbers is  512
 cube of numbers is  729
 cube of numbers is  1000
 cube of numbers is  1331
 cube of numbers is  1728
 cube of numbers is  2197
 cube of numbers is  2744
 cube of numbers is  3375
 cube of numbers is  4096
 cube of numbers is  4913
 cube of numbers is  5832
 cube of numbers is  6859
 cube of numbers is  8000
 cube of numbers is  9261
 cube of numbers is  10648
 cube of numbers is  12167
 cube of numbers is  13824
 cube of numbers is  15625
 cube of numbers is  17576
 cube of numbers is  19683
 cube of numbers is  21952
 cube of numbers is  24389
 cube of numbers is  27000
 cube of numbers is  29791
 cube of numbers is  32768
 cube of numbers is  35937
 cube of numbers is  39304
 cube of numbers is  42875
 cube of numbers is  46656
 cube of numbers is  50653
 cube of numbers is  54872
 cube of numbers is  59319
 cube of numbers is  64000
 cube of numbers is  68921
 cube of numbers is  74088
 cube of numbers is  79507
 cube of numbers is  85184
 cube of numbers is  91125
 cube of numbers is  97336
 cube of numbers is  103823
 cube of numbers is  110592
 cube of numbers is  117649
 cube of numbers is  125000
 cube of numbers is  132651
 cube of numbers is  140608
 cube of numbers is  148877
 cube of numbers is  157464
 cube of numbers is  166375
 cube of numbers is  175616
 cube of numbers is  185193
 cube of numbers is  195112
 cube of numbers is  205379
 cube of numbers is  216000
 cube of numbers is  226981
 cube of numbers is  238328
 cube of numbers is  250047
 cube of numbers is  262144
 cube of numbers is  274625
 cube of numbers is  287496
 cube of numbers is  300763
 cube of numbers is  314432
 cube of numbers is  328509
 cube of numbers is  343000
 cube of numbers is  357911
 cube of numbers is  373248
 cube of numbers is  389017
 cube of numbers is  405224
 cube of numbers is  421875
 cube of numbers is  438976
 cube of numbers is  456533
 cube of numbers is  474552
 cube of numbers is  493039
 cube of numbers is  512000
 cube of numbers is  531441
 cube of numbers is  551368
 cube of numbers is  571787
 cube of numbers is  592704
 cube of numbers is  614125
 cube of numbers is  636056
 cube of numbers is  658503
 cube of numbers is  681472
 cube of numbers is  704969
 cube of numbers is  729000
 cube of numbers is  753571
 cube of numbers is  778688
 cube of numbers is  804357
 cube of numbers is  830584
 cube of numbers is  857375
 cube of numbers is  884736
 cube of numbers is  912673
 cube of numbers is  941192
 cube of numbers is  970299
 cube of numbers is  1000000
new list is  [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

"""5] Write a program to filter count vowels in the below given string.
string = "I want to become a data scientist"

In [34]:
string = " I want to become a data scientist"
count = 0

for i in string:
    if (i.upper() == "A" or i.upper() =="E" or i.upper()=="I" or i.upper() =="O" or i.upper() =="U"):
        count = count+1
print(" no of vowel is ",count)

 no of vowel is  12