"""                                  [ ASSIGNMENT 2 ] 30 JAN
1] WRITE A PROGRAM TO ACCEPT PERCENTAGE FROM USER AND DISPLAY THE GRADE ACCORING TO FOLLOWING CRITERIA
               MARKS                     GRADE
               >90                         A
               >80 AND <=90                B
               >=60 AND <=80               C
               BELOW 60                    D                                                     """

In [3]:
marks = int(input(" enter your marks"))
if marks > 90 and marks <=100:
    print("grade obtained is A")
elif marks > 80 and marks <=90:
    print("grade obtained is B")
elif marks >=60 and marks <= 80:
    print("grade obtained is C")
elif marks<60:
    print("grade obtained is D")
else:
    print("invalid marks")

 enter your marks 120

invalid marks

""" 2] WRITE A PROGRAM TO ACCEPT THE COST OF BIKE AND DISPLAY THE ROAD TAX TO BE PAID AS PER FOLLOWING CRITERIA
             TAX                COST PRICE[Rs]
             15%                 >100000
             10%                 >50000 and <=100000
             5%                  <=50000

In [4]:
cost =int(input("enter the cost of bike"))
if cost > 100000:
    tax = .15*cost
    print("TAX of bike is" , tax)
if cost > 50000 and cost <= 100000:
    tax = .1*cost
    print("TAX of bike is " ,tax)
if cost <= 50000:
    tax = .05*cost
    print("TAX of bike is " , tax)

enter the cost of bike 5000000

TAX of bike is 750000.0

""" 3] ACCEPT CITY FROM USER AND DISPLAY MONUMENT OF THAT CITY.
           CITY           MONUMENT
           DELHI          RED FORT
           AGRA           TAJ MAHAL
           JAIPUR         JAI MAHAL                                      """

In [6]:
city = input(" enter city")
if city.upper()  == "DELHI":
     print(" red fort")
elif city.upper() == "AGRA":
     print("tajmahal")
elif city.upper() == "jaipur":
     print("jal maha")

 enter city DELHI

 red fort

""" 4] CHECK HOW MANY TIMES A GIVEN NUMBER CAN BE DIVIDED BY 3 BEFORE IT IS LESS THA OR EQUAL TO 10   """

In [1]:
number = int(input("enter number"))
count =0
while(number >= 3):
    if number % 3 == 0:
        count = count +1
    number = number /3
print(count)

enter number 180

2

In [ ]:
""" 5] WHY AND WHEN TO USE WHILE LOOP IN PYTHON GIVE A DETAILED DESCROPTION WITH EXAMPLE?        """

"""
5 ANSWER] Loops are important in python or any other language as they help you to execute a block of code repeatedly .
we will often come face to face with situations where you would need to use a piece of code over and over but you donot want to write the same line of code multiple times.
while loop is used to run a block of code untill a certain conditions is met . if condition evaluates to True , code inside the loop continue to execute.

In [7]:
# example of while loop
i = 1
while i < 6:
    print(i)
    if i==3:
        break
    i += 1

1
2
3

"""6] USE NESTED WHILE LOOP TO PRINT 3 DIFFERENT PATTERNS?         """

In [13]:
num  = int(input("enter the number of rows"))     # pattern 1 using for loop [just for experiment ]
for i in range(num,0,-1):
    for j in range(0,i):
        print("*",end="")
    print()

enter the number of rows 5

*****
****
***
**
*

In [3]:
n =int(input(" enter number of rows")               # pattern example 1
i =1
while i<= n:
    j = 1
    while j<= i:
        print("*",end = "")
        j +=1
    print()
    i+=1

 enter number of rows 5

*
**
***
****
*****

In [4]:
n =int(input(" enter number of rows"))
i =1
while i<= n:                                              # pattern example 2
    j = n
    while j>= i:
        print("*",end = "")
        j -=1
    print()
    i+=1

 enter number of rows 5

*****
****
***
**
*

In [5]:
n = int (input("enter number of rows"))
k =1
i = 1
while i<= n:
    j  =1                                                                # pattern example 3
    while j<=i:
        print("{:3d}" . format(k) , end = " ")
        j += 1
        k += 1
    print()
    i += 1

enter number of rows 7

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28

"""
7 and 8] REVERSE A WHILE LOOP TO DISPLAY NUMBER FROM 10 TO 1?                            """

In [7]:
number = 10
while(number<=10 and number>0):
    print(number)
    number = number -1

10
9
8
7
6
5
4
3
2
1

In [6]:
number = 1
while(number<=10 and number>=1):              # EXPERIMENT TO PRINT NUMBER FROM 1 TO 10 USING WHILE LOOP
    print(number)
    number = number + 1

1
2
3
4
5
6
7
8
9
10